altgraph==0.17
attrs==20.2.0
curl==0.0.1
Cython==0.29.21
glob2==0.7
import-from-github-com==0.1
importlib-metadata==1.7.0
jsonpickle==1.4.1
lxml==4.5.2
macholib==1.14
Mako==1.2.2
MarkupSafe==1.1.1
modulegraph==0.18
more-itertools==8.5.0
mysql-connector-python==8.0.21
packaging==20.4
parse==1.18.0
parse-type==0.5.2
pluggy==0.13.1
protobuf==3.13.0
py==1.9.0
PyMySQL==0.10.1
pyparsing==2.4.7
PySocks==1.7.1
pytest==6.0.2
pytest-bdd==4.0.1
PyYAML==5.3.1
robotframework==3.2.2
selenium==3.141.0
six==1.15.0
socks==0
urllib3==1.25.10
wcwidth==0.2.5
zipp==3.1.0
robotframework-python3
